body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color: #0F172A;
    overflow:auto;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    
    
}
h1{
    
  font-family: "Poppins", sans-serif;
  
}
p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #E2E8F0;
}


html {
  scroll-behavior: smooth;
}

/* Navbar */

.navbar{
   
    position: sticky;
    top:0;
    left:0;
    width: 100%;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-between;
    z-index: 100;
    padding: 20px 50px;
    
}
.logo  {
font-size: 20px;
font-family: "Poppins", sans-serif;
font-weight: 700;
margin-left: 10px;
letter-spacing: 1px;
}

.logo a{
    color:white;
    text-decoration:none;
}

.logo a:hover{
    
    
    color: #3B82F6; 
}
.nav-links{
    
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    gap: 20px;
    list-style:none; 
}


.nav-links a{
    color:#E2E8F0;
    text-decoration:none;
    font-size: 16px;
    font-weight: 500;
    margin-right:10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    
}
.nav-links  a:hover{
    color:#3B82F6;
}
#Cv{ font-family: "Poppins", sans-serif;
     background-color: #3B82F6;
     color: #E2E8F0;
     
}

/* Hero Section */
.hero{
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
    padding: 90px 80px ;
    margin-top:100px ;

}

/* Hero Section Left Part */
.hero-content {
color:#E2E8F0;
}
.hi{
    font-weight: bold;
    font-size: 20px;
}
.nik{
     font-weight: bold;
     font-size: 30px;
     color:#3B82F6;

}
.sof{
    font-weight: bold;
    text-align: left;
    font-size:50px;
    
    
}
.dev{
    font-weight: bold;
    text-align: right;
    font-size:50px;
    
}
#hireme{
    color:#E2E8F0;
    border-color: #3B82F6;
}
#hireme:hover{
    background-color: #22D3EE;
}

/* hero section right Part  */
.image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border:2px solid #22D3EE;
      
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
}
.hero-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.Socials a{
    text-decoration: none;
    color: #E2E8F0;
    font-size: 25px; 
}
.Socials a:hover{
    color:#22D3EE;
}








.skills{
    height: 70vh;
    
    display:flex;
    justify-content: center;
}
.projects{
    height: 100vh;
    
    display:flex;
    justify-items: center;

}
.contact{
    height: 100vh;
    
    

}

.hero-content{
    max-width: 500px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.hero-content button {
    display:flex;
    flex-direction: column;
    margin-bottom:20px;
}

.Nik{
    text-decoration: underline;
    text-decoration-color: red;
    font-weight: 800;
    
}
.about div{
    padding: 40px;
    margin-top:40px;
}
.aboutme{
    text-align: center;
}
.card{
    height:600px;
    border : 2px solid black;
    padding: 10px;
    margin:20px;
    margin-top:80px;

}
.Skill{
    text-align: center;
}
/* h1{
    text-align: center;
    margin-top: 10px;
} */