body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-color: #0F172A;
    overflow:hidden;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    
    
}
h1{
    
  font-family: "Poppins", sans-serif;
  
}
p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #E2E8F0;
}


html {
  scroll-behavior: smooth;
}

/* Navbar */

.navbar{
   
    position: sticky;
    top:0;
    left:0;
    width: 100%;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-between;
    z-index: 100;
    padding: 20px 50px;
    background-color: rgba(59, 130, 246, 0.4);
    border-bottom: 2px solid white;
    
    
}
.logo  {
font-size: 20px;
font-family: "Poppins", sans-serif;
font-weight: 700;
margin-left: 10px;
letter-spacing: 1px;
}

.logo a{
    color:white;
    text-decoration:none;
}

.logo a:hover{
    
    
    color: #3B82F6; 
}
.nav-links{
    
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    gap: 20px;
    list-style:none; 
}


.nav-links a{
    color:#E2E8F0;
    text-decoration:none;
    font-size: 16px;
    font-weight: 500;
    margin-right:10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    position:relative;
    transition: color 0.3s ease;
    
}
.nav-links  a:hover{
    color:#3B82F6;
}
.nav-links a::after{
  content:"";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #22D3EE;
  transition: width 0.3s ease;
}
.nav-links a:hover::after {
  width: 100%;
}


#Cv{ font-family: "Poppins", sans-serif;
     background-color: #3B82F6;
     color: #E2E8F0;
     
}
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    z-index:100;
}

/* Hero Section */
.hero{
    height: 80vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
    padding: 90px 80px ;
    margin-top:100px ;
    

}
.hero-content{
    max-width: 500px;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.hero-content button {
    display:flex;
    flex-direction: column;
    margin-bottom:20px;
}

/* Hero Section Left Part */
.hero-content {
color:#E2E8F0;
}
.hi{
    font-weight: bold;
    font-size: 20px;
}
.nik{
     font-weight: bold;
     font-size: 30px;
     color:#3B82F6;

}
.sof{
    font-weight: bold;
    text-align: left;
    font-size:50px;
    
    
}
.dev{
    font-weight: bold;
    text-align: right;
    font-size:50px;
    
}
#hireme{
    color:#E2E8F0;
    border-color: #3B82F6;
}
#hireme:hover{
    background-color: #22D3EE;
}

/* hero section right Part  */
.image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border:2px solid #22D3EE;
      
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;   
}
.hero-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.Socials a{
    text-decoration: none;
    color: #E2E8F0;
    font-size: 25px;
    display: inline-block;
    padding:10px;
    transition: all 0.3s ease; 
    border-radius: 50%;
}
.Socials a:hover{
    color:#22D3EE;
    transform: translateY(-4px) scale(1.00);
    background: rgba(34, 211, 238, 0.1);
}


/* About Me */
.aboutme{
    height:80vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
    padding: 90px 80px ;
}
/* About me Left Part */
.pic2{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border:2px solid #22D3EE;

}
.pic2 img{
    width: 100%;
    height: 100%;
    object-fit: cover; 

}

/* About me Right Part */
.details{
    width:30%;
    color:#E2E8F0;
}
.skill {
    width: 300px;
    height: 8px;
    background: #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.skill-bar {
    height: 100%;
    width: 0;
    background: #22D3EE;
}




/* Services Section */

.Services{
    height: 80vh;
    
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.Servicesheading{
    text-align: center;
    width:1000px;
    color: #E2E8F0;
}
.Servicescards{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-top: 40px;
}
.Card{
    width:300px;
    height:300px;
    border: 2px solid #22D3EE;
    background-color:rgba(59, 130, 246, 0.7) ;
    padding:10px 10px;
    color:#E2E8F0;
}
.Card i{
    font-size: 50px;
    
}

/* Projects Section */

.pro{
    height: 80vh;
    
    display:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap:50px;
    

}

.Myprojectsdetails .Projectsheading{
    
    
    width:1000px;
    color: #E2E8F0;

}
.Projectsheading h1{
    text-align: center;

}
.Projectsheading p{
    text-align: center;
    width:1000px;
    height: 50px;
}
.Buttons{
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
    margin-top:40px;
}
.projectcards{
    display: flex;
    gap:20px;
    justify-content: center;
}
.projectcards div{
    height:300px;
    width:300px;
    border: 2px solid #22D3EE;
    overflow:hidden;
}
.projectcards img{
    height:300px;
    width:300px;
    object-fit:cover;
    
    
}


/* Contact section */

.contact{
    height: 50vh;
    padding:0px 350px;
}
.contact h1{
    color: #E2E8F0;
    text-align: center;
}

/* Footer Section */

.footer {
    height:50vh;
    background-color: rgba(59, 130, 246, 0.4);
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 200px; 
    gap:10px;
    
}
.MyBranding{
    color:#E2E8F0;
    text-align: center;
}
.footerlinks a{
    color:#E2E8F0;
    text-decoration: none;
    list-style: none;
    display:inline;

}
#bt1 button{
    margin-right:5px;
}

/* Animations */

/* Hero Section */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  opacity: 0;
  animation: fadeUp 0.8s ease-out forwards;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
}
}
.scale-in {
  opacity: 0;
  animation: scaleIn 1s ease-out forwards;
  animation-delay: 0.8s;
}

.hero {
  background: linear-gradient(
    135deg,
    #0a192f,
    #112240,
    #0a192f
);
}
.hero {
  background-size: 400% 400%;
  animation: bgMove 8s linear infinite;
}

@keyframes bgMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, rgba(34,211,238,0.2), transparent);
  filter: blur(80px);
  top: 20%;
  left: 60%;
}
.hero {
  position: relative;
  overflow: hidden;
}
@keyframes Left{
    from{
        opacity:0;
        transform:translateX(-50px);
    }
     to{
        opacity:1;
        transform:translateX(0px);
    }
}
.Left{
    opacity:0;
    animation: Left 1s ease-out forwards ;
    animation-delay:0.3s;

}
@keyframes Right{
    from{
        opacity:0;
        trnsform: translateX(0px);
    }
    to{
        opacity:1;
        transform: translateY(30px);
    }
}
.Right{
    opacity:0;
    animation: Right 3s ease-out forwards;
    animation-delay:0.3s;
}

@keyframes webdev {
    from {
        width: 0;
    }
    to {
        width: 90%;
    }
}

.webdev {
    animation: webdev 2s ease-out forwards;
    animation-delay:3s;
}
@keyframes videoediting{
    from{width:0;
    }
    to{width:80%;
    }
}
.videoediting{
    animation: videoediting 2s ease-out forwards;
    animation-delay: 3s;
}
@keyframes Teaching{
    from{
        width :0 ;
    }
    to{
        width:95%;
    }
}
.Teaching{
    animation : Teaching 2s ease-out forwards;
    animation-delay: 3s;
}
@keyframes UI{
    from{
        width :0 ;
    }
    to{
        width:70%;
    }
}
.UI{
    animation : UI 2s ease-out forwards;
    animation-delay: 3s;
} 
.Servicescards .Card {
    transition: all 0.3s ease;
}

.Servicescards .Card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(34, 211, 238, 0.2);
}
.projectcards img{
    transition : all 0.4s ease;
}
.projectcards img:hover{
    transform: scale(1.05);
}
button {
    transition: all 0.3s ease;
}
button:hover{
    transform:scale(1.05);
    box-shadow: 0 5px 15px rgba(34, 211, 238, 0.3);;
}

/* Responsivness */

/* navbar */
@media (max-width: 450px){
    .nav-links {
        display:none;
    }
     .menu-icon {
        display: block;
        font-size:25px;
        margin-right:80px;
        color:white;
        cursor:pointer;
    }
    
    .navbar{
        display:flex;
        justify-content: space-between;
        gap : 50px;
        align-items: center;
        padding:10px 10px;
    }
    .logo a {
        font-size: 14px;
        white-space: nowrap;
    }
  
}

/* Hero Section */

@media (max-width: 450px){

    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        height: auto;
        margin-top: 0;

        padding: 100px 20px 40px;
        gap: 30px;
    }

    .hero-content h1{
        font-size: 26px;
    }

    .hero-content p{
        font-size: 14px;
    }

    .hero-image{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .hero-image img{
        width: 180px;
        height: 180px;
        border-radius: 50%;
        object-fit: cover;
    }
}